{% macro thread(t) %}
<div class="thread-item">
  <section class="thread-header">
    <div class="thread-meta">
      <a href="{{ t.addon_meta.url }}">
        <img class="addon-icon" src="{{ t.addon_meta.thumbnail_url }}">
        <div class="addon-name">
          {{ t.addon_meta.name }}
        </div>
      </a>
      <h3 class="note-count" data-count="{{ t.notes_count }}">{{ _plural('{n} note', '{n} notes', n=t.notes_count) }}</h3>
    </div>
    <div class="c thread-action">
      <button class="button alt reply open-reply">{{ _('Respond') }}</button>
    </div>
    <div class="reply-box hidden">
      <textarea data-thread-id="{{ t.id }}" data-addon-id="{{ t.addon }}" data-version-id="{{ t.version }}" placeholder="{{ _('Enter text here') }}" class="reply-text" rows="4" cols="80" name="body"></textarea>
      <button class="button alt post disabled">{{ _('Post') }}</button>
    </div>
  </section>
  <section class="notes-container">
    {% for note in t.recent_notes %}
      {% include 'comm/note_detail.html' %}
    {% endfor %}
  </section>
</div>
{% endmacro %}
