{% include '_macros/thread.html' %}
{% include '_macros/create_thread.html' %}

<section class="main app-dashboard">
  <div class="view-thread-header">
    {% defer (url=app_endpoint) %}
      <img class="addon-icon" src="{{ this.icons['64'] }}" alt="{{ _('App icon') }}">
      <h1>{{ _('Viewing All Threads for {app_name}', app_name=this.name) }}</h1>
      {% if user.has_developed(this.id) or user.get_permission('admin') %}
        <a class="comm-back" href="/developers/app/{{ this.slug }}/edit">
          {{ _('Go back to app edit page') }}</a>
      {% endif %}
    {% except %}
      <h1 class="error">{{ _('App Not Found') }}</h1>
      <a class="comm-back" href="{{ url('comm') }}">{{ _('Back to my threads') }}</a>
    {% end %}
  </div>

  {# Manually add app param to not URI-encode unicode characters. #}
  {% defer (url=apiParams('threads', ordering='-created') + '&app=' + app_slug) %}
    {% include 'comm/threads_nav.html' %}

    {% if this.objects.length %}
      <div class="threads-container">
        {% for t in this.objects %}
          {{ thread(t) }}
        {% endfor %}
      </div>
    {% else %}
      {% defer (url=app_endpoint) %}
        {# Show create thread widget for most recent version. #}
        {% for version in this.versions.keys() %}
          {{ create_thread(this, version) }}
        {% endfor %}
      {% end %}
    {% endif %}

  {% placeholder %}
    <div class="spinner alt"></div>
  {% except %}
    {% if error == 403 %}
      <p>{{ _("You are not allowed to access this app's threads.") }}</p>
    {% else %}
      <p>{{ _('Error loading threads') }}</p>
    {% endif %}
  {% end %}

  {% include '_includes/attachment_field.html' %}
</section>
