{% include '_macros/thread.html' %}

<section class="main">
  <h1>{{ _('My Threads') }}</h1>
  <a class="devhub comm-back" href="/developers/">{{ _('Go to Developer Hub') }}</a>

  <div class="threads-container">
    {% defer (url=apiParams('threads', ordering='-modified'), pluck='objects') %}
      {% for t in this %}
        {{ thread(t) }}
      {% endfor %}
    {% placeholder %}
      <div class="spinner alt"></div>
    {% empty %}
      <p>{{ _('You currently are not involved in any communication threads.') }}</p>
    {% except %}
      <p>{{ _('Sorry, an error has occurred. Try logging in again.') }}</p>
    {% end %}
  </div>

  {% include '_includes/attachment_field.html' %}
</section>
