<div class="note-detail" data-note-id="{{ note.id }}">
  <div class="c">
    <img class="author-gravatar" src="{{ gravatar(note.author_meta.gravatar_hash) }}">
    {% set action = note_action(note.note_type) %}
    <div class="note-action {{ action.class }}">{{ action.msg }}</div>
    <span class="author-name">{{ note.author_meta.name }}</span>
    <span class="info">{{ note.created|datetime }}</span>
  </div>
  <div class="note-body">
    {% if note.body %}
      {{ note.body|e|nl2br }}
    {% else %}
      <span class="empty">{{ _('Empty note') }}</span>
    {% endif %}
  </div>
  <ul class="note-attachments">
    {% for attachment in note.attachments %}
      {% include '_includes/attachment.html' %}
    {% endfor  %}
  </ul>
</div>
