@import 'lib';
@import 'listing';

tick() {
    background-size: 17px auto;
    background: url(../img/tick-gray.svg?1376418414706) no-repeat;
    content: '';
    cursor: pointer;
    display: block;
    height: 12px;
    margin-right: 5px;
    width: 17px;

    &:hover {
        background-size: 17px auto;
        background: url(../img/tick-blue.svg?1376418414706) no-repeat;
    }
}

.threads-container {
    .info {
        color: $earl-gray;
        font-style: italic;
    }
}

.thread-item {
    border-radius: 10px;
    border: 1px solid $seavan-salt-white;
    margin-bottom: 10px;
    overflow: hidden;
}

.thread-header {
    background-color: #fff;
    border-bottom: 1px solid $seavan-salt-white;
    overflow: hidden;
    padding: 10px;
    position: relative;

    .addon-icon {
        float: left;
        height: 64px;
        margin: 0 10px 0 0;
        width: 64px;
    }
    .addon-name {
        font-size: 15px;
        margin-top: 6px;
    }
    .button.reply {
        display: block;
        margin: 20px 0 5px 0;
    }
    .note-count {
        font-size: 38px;
        line-height: 42px;
        a {
            color: $black;
        }
    }
    .thread-meta {
        float: left;
        width: 70%;
    }
    .reply-text {
        border: 1px solid $seavan-salt-white;
        margin-top: 5px;
        width: 100%;
    }
    .reply-box {
        button {
            cursor: pointer;
            float: right;
            margin: 5px 0 5px 0;
            &.disabled {
                opacity: .5;
            }
        }
        &.hidden {
            display: none;
        }
    }
    .filter-options-container {
        margin-top: 15px;

        a {
            color: lighten($medium-gray, 50%);
            padding: 12px;
        }
        a.selected {
            border-radius: 3px;
            box-shadow: 0px 4px 5px darken($faint-gray, 10%) inset;
            color: #666;
        }
        li {
            display: inline;
            position: relative;
        }
        ul {
            list-style: none;
        }
    }
    .thread-action {
        float: right;
    }
    .mark-thread-read {
        float: right;
        margin-top: 5px;
        tick();
    }

}

.notes-outer-container {
    background-color: lighten(blue, 98%);
    padding: 0;
    padding-bottom: 12px;

    .notes-container > div {
        padding: 10px;
    }
    .note-detail {
        border-bottom: 1px solid $seavan-salt-white;

        &.unread {
            background-color: lighten(blue, 98%);
        }
        img.author-gravatar {
            float: left;
            margin-right: 8px;
        }

        .author-name {
            font-weight: bold;
        }
        &:last-of-type {
            border-bottom: none;
        }
        .note-body {
            border: 1px solid $seavan-salt-white;
            color: #000;
            margin-top: 3px;
            padding: 5px;
        }
        .note-action {
            font-weight: bold;
            &.post {
                color: $medium-gray;
            }
            &.approve {
                color: $green;
            }
            &.disable,
            &.reject {
                color: $red;
            }
            &.need-info,
            &.escalate {
                color: $orange;
            }
        }
        .mark-note-read {
            float: right;
            tick();
        }
    }
}

.view-older-notes {
    display: block;
    margin: 10px auto;
    width: 45%;
}

.login {
    a {
        margin-bottom: -40px;
    }
    p {
        margin-bottom: 20px;
    }
}
