@import 'lib';
@import 'listing';

tick() {
    background-size: 17px auto;
    background: url(../img/tick-gray.svg?1376418414706) no-repeat;
    content: '';
    cursor: pointer;
    display: block;
    height: 12px;
    margin-right: 5px;
    width: 17px;

    &:hover {
        background-size: 17px auto;
        background: url(../img/tick-blue.svg?1376418414706) no-repeat;
    }
}

.threads-container {
    .info {
        color: $earl-gray;
        font-style: italic;
    }
}

.thread-item {
    border-radius: 10px;
    border: 1px solid $seavan-salt-white;
    margin-bottom: 10px;
    overflow: hidden;
}

.thread-header {
    background-color: #fff;
    border-bottom: 1px solid $seavan-salt-white;
    overflow: hidden;
    padding: 10px;
    position: relative;

    .addon-icon {
        float: left;
        height: 64px;
        margin: 0 10px 0 0;
        width: 64px;
    }
    .addon-name {
        font-size: 15px;
        margin-top: 6px;
    }
    .button.reply {
        display: block;
        margin: 20px 0 5px 0;
    }
    .note-count {
        font-size: 38px;
        line-height: 42px;
        a {
            color: $black;
        }
    }
    .thread-meta {
        float: left;
        width: 70%;
    }
    .reply-text {
        border: 1px solid $seavan-salt-white;
        margin-top: 5px;
        width: 100%;
    }
    .reply-box {
        border-bottom: 2px dashed $seavan-salt-white;
        margin-bottom: 50px;
        padding-bottom: 10px;

        .attachments {
            float: left;
            margin-top: 2px;
            padding-bottom: 15px;
            position: relative;

            .attachment-field {
                display: block;
            }
            strong {
                display: block;
                margin: 2px 0;
            }
            .fileinput {
                margin: 0 10px 5px 0;
            }
            .fileinput, .attach-description {
                float: left;
            }
            .attach-description {
                label, input {
                    display: inline;
                }
            }
            .add-attach-field {
                bottom: -2px;
                position: absolute;
                right: 0;
            }
        }
        button {
            cursor: pointer;
            margin: 5px 0 5px 0;

            &.post {
                float: right;
            }
            &.disabled {
                opacity: .5;
            }
        }
        &.hidden {
            display: none;
        }
    }
    .filter-options-container {
        margin-top: 15px;

        a {
            color: lighten($medium-gray, 50%);
            padding: 12px 10px;
        }
        a.selected {
            border-radius: 3px;
            box-shadow: 0 0 2px 1px darken($faint-gray, 10%);
            color: #666;
        }
        li {
            display: inline;
            margin-right: 15px;
            position: relative;
        }
        ul {
            list-style: none;
        }
    }
    .thread-action {
        float: right;
    }
}

.notes-outer-container {
    background-color: #fff;
    padding: 0;

    .notes-container > div {
        padding: 15px;

        &.empty {
            font-style: italic;
        }
    }
    .note-detail {
        border-bottom: 1px solid $seavan-salt-white;

        img.author-gravatar {
            float: left;
            margin-right: 8px;
        }

        .author-name {
            font-weight: bold;
        }
        &:last-of-type {
            border-bottom: none;
        }
        .note-body {
            color: #000;
            margin-top: 3px;
            padding: 5px;

            .empty {
                font-style: italic;
            }
        }
        .note-action {
            font-weight: bold;

            &.gray {
                color: $medium-gray;
            }
            &.green {
                color: $green;
            }
            &.red {
                color: $red;
            }
            &.orange {
                color: $orange;
            }
        }
        .note-attachments {
            margin-top: 5px;

            li {
                list-style: none;
            }
            a:before {
                background: url("../img/icons/news-feed-sprite.png") no-repeat 0 -1150px;
                content: "";
                display: inline-block;
                min-height: 15px;
                padding: 2px 0 0 20px;
                position: relative;
                top: 3px;
            }
            a.image:before {
                background: url("../img/icons/news-feed-sprite.png") no-repeat 0 -1370px;
            }
        }
    }
}

.view-older-notes {
    bottom: 10px;
    display: block;
    margin: 20px auto 0;
    position: relative;
    width: 45%;
}

.login {
    a {
        margin-bottom: -40px;
    }
    p {
        margin-bottom: 20px;
    }
}

.main h1 {
    margin-bottom: 40px;
}
.main h2 {
    margin-top: 40px;
}
.main > p, .main > .placeholder > p {
    margin-top: 30px;
}

.view-thread-header {
    margin-bottom: 20px;

    img {
        background-color: $faint-gray;
        float: left;
        margin-right: 15px;
        height: 64px;
        vertical-align: top;
        width: 64px;
    }
    h1, a {
        margin-bottom: 10px;
    }
}

h1.error {
    margin-bottom: 10px;
}

a.comm-back {
    display: block;

    &:before {
        // &laquo;
        content: "\ab";
        margin-right: 5px;
    }
}

nav.threads {
    margin: 35px 0 20px;

    h3 {
        margin-bottom: 10px;
    }
    li {
        display: inline;
        list-style: none;
    }
    li:not(:last-child):after {
        background-color: #000;
        border-radius: 50px;
        content: "";
        display: inline-block;
        height: 2px;
        margin: 4px 3px 4px 6px;
        width: 2px;
    }
}

#create-thread {
    h2 {
        margin-top: 20px;
    }
    textarea {
        margin: 10px 0;
        width: 100%;
    }
    button {
        float: right;
    }
}

.app-dashboard,
.show-thread {
    .filter-options-container li.unsubscribe {
        display: none;
    }
}

.devhub {
    bottom: 30px;
    position: relative;
}
