@import 'lib';
@import 'listing';

tick() {
    background: url(../img/tick-gray.svg?1376418414706) no-repeat;
    background-size: 17px auto;
    content: '';
    cursor: pointer;
    display: block;
    height: 12px;
    margin-right: 5px;
    width: 17px;

    &:hover {
        background: url(../img/tick-blue.svg?1376418414706) no-repeat;
        background-size: 17px auto;
    }
}

.threads-container {
    .info {
        color: $earl-gray;
        font-style: italic;
    }
}

.thread-item {
    border-radius: 10px;
    border: 1px solid $seavan-salt-white;
    margin-bottom: 10px;
    overflow: hidden;
}

.thread-header {
    background-color: #fff;
    border-bottom: 1px solid $seavan-salt-white;
    overflow: hidden;
    padding: 10px;
    position: relative;

    .addon-icon {
        float: left;
        height: 64px;
        margin: 0 10px 0 0;
        width: 64px;
    }
    .addon-name {
        font-size: 15px;
        margin-top: 6px;
    }
    .button.reply {
        display: block;
        margin-top: 20px;
    }
    .note-count {
        font-size: 38px;
        line-height: 42px;
    }
    .thread-meta {
        float: left;
        width: 70%;
    }
    .reply-text {
        border: 1px solid $seavan-salt-white;
        margin-top: 5px;
        width: 100%;
    }
    .reply-box {
        button {
            cursor: pointer;
            margin-top: 5px;
            &.disabled {
                opacity: .5;
            }
        }
        &.hidden {
            display: none;
        }
    }
    .filter-options-container {
        margin-top: 10px;

        a.selected {
            color: $medium-gray;
        }
        li {
            display: inline;
        }
        ul {
            list-style: none;
        }
    }
    .thread-action {
        float: right;
    }
    .mark-thread-read {
        tick();
        float: right;
        margin-top: 15px;
    }

}

.notes-container {
    padding: 0 !important;
    & > div {
        padding: 10px;
    }
    .note-detail {
        border-bottom: 1px solid $seavan-salt-white;

        &.unread {
            background-color: lighten(blue, 98%);
        }
        img.author-gravatar {
            float: left;
            margin-right: 8px;
        }

        .author-name {
            font-weight: bold;
        }
        &:last-of-type {
            border-bottom: none;
        }
        .note-body {
            border: 1px solid $seavan-salt-white;
            color: #000;
            margin-top: 3px;
            padding: 5px;
        }
        .note-action {
            font-weight: bold;
            &.post {
                color: $medium-gray;
            }
            &.approve {
                color: $green;
            }
            &.disable,
            &.reject {
                color: $red;
            }
            &.need-info,
            &.escalate {
                color: $orange;
            }
        }
        .mark-note-read {
            tick();
            float: right;
        }
    }
    .view-older-notes {
        display: block;
        margin: 0 auto;
    }
}
